%h1 プライバシーポリシー
%p 本文書は、当サイト（四城半データ小屋）における個人情報の保護およびその適切な取り扱いについての方針を示したものです。
%br
%h2 当サイトが利用しているアクセス解析ツールに関して
%p 当サイトでは、サイトの分析と改善のためにGoogleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関して、詳しくは#{ link_to "Google アナリティクス利用規約", "https://www.google.com/analytics/terms/jp.html"}をご確認ください 
%br
%p 最終更新日：2020年10月1日
%br
